.contacts {
    min-height: 100vh;
    text-align: center;
    padding: 50px 0 50px;
    
    &__desc p {
        font-size: 24px;
        padding: 20px 0 20px;
    }
    &__item {
        display: flex;
        height: 250px;
        .contacts__item--left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 1 50%;
            align-items: flex-start;
            font-size: 22px;
            font-weight: bold;
            line-height: 42px;
            padding-left: 25px;
           
        }
        .contacts__item--right {
            display: flex;
            flex-direction: column;
            flex: 1 1 50%;
            justify-content: center;
           
        }
        .contacts__item--bookingcom img {
            width: auto;
            height: 50px;
            margin: 10px 0;
        }
        .contacts__item--airbnb img{
            width: auto;
            height: 50px;
            margin: 10px 0; 
        }
    }
}