.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../src/static/img/111.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	min-height: 100vh;

	span>img {
		height: 34px;
	}
	
	@media  (max-width:1200px) {
		nav a {
			font-size: 18px;
		}
	}

	.bg-light {
		background-color: transparent!important;
	}
	
	
	.main__desc {
		text-align: center;
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		height: 80vh;
		}
	}


