.infrastr {
	display: flex;
    justify-content: center;
    margin-bottom: 25px;
    overflow: hidden;
    
    &__items {
        display: flex;
	    flex-wrap: wrap;
    }
    &__items--pic {
        width: 50%;
        flex-direction: row;
        height: 50vh;
        
    }
    #dinamo {
        display: none;
    }
    #cafe {
        display: none;
    }
    &__items--text {
       
        width: 50%;
        flex-direction: row;
        height: 50vh;
        padding: 30px 20px;

        p:first-child {
            font-size: 22px;
            font-style: italic;
            text-align: center;
            }
    }
    
    &__descr {
        text-align: center;
        padding: 50px 0 50px;
    }
    &__rw {
        background: url(../src/static/img/blog/station.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__sub {
        background: url(../src/static/img/blog/avenue.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__dinamo {
        background: url(../src/static/img/blog/dinamo.jpeg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__cafe {
        background: url(../src/static/img/blog/centerminsk.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (max-width: 992px) {
    .infrastr__items {
        display: flex;
        flex-direction: column;
    }
    .infrastr__items--pic,
    .infrastr__items--text {
        width: 100%;
        text-align: center;

        p {
            font-size: 18px;
        }
        
    }
    .infrastr__dinamo,
    .infrastr__cafe {
        display: none;
    }
    .infrastr__items #dinamo {
        display: block;
    }
    .infrastr__items #cafe {
        display: block;
    }
}