<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Apartments in Minsk</title>

</head>

<body>
    <div class="container">
        {{> _partials/header }}
        {{> _partials/about }}
        {{> _partials/infrastructure }}
        {{> _partials/services }}
        {{> _partials/prices }}
        {{> _partials/feedbacks }}
        {{> _partials/booking }}
        {{> _partials/booking }}
    </div>
</body>