<section class="contacts">
    <div class="container">
        <div class="contacts__desc">
            <h1>Контакты и бронирование</h1>
            <p>Для Вашего удобства мы предлагаем использовать удобный для Вас сервис бронирования. <br />
                По любым вопросам свяжитесь с нами по телефону, почте или соцсетям.</p>
        </div>
        <div class="contacts__item">
            <div class="contacts__item--left">
                <div class="contacts__item--number">Контактный телефон: <span>+375 33 366 67 67</span></div>
                <div class="contacts__item--email">Почта: <span>minsk.apartments@gmail.com</span></div>
                <div class="contacts__item--messanger">
                    <span>
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </div>
            </div>
            <div class="contacts__item--right">
                <div class="contacts__item--bookingcom"><a href="booking.com"><img src="src/static/img/icons/logo-booking-com-png-booking-logo-png-1020.png"></a></div>
                <div class="contacts__item--airbnb"><a href="airbnb.com"><img src="src/static/img/icons/Airbnb_Logo_Bélo.svg.png"></a></div>
            </div>
        </div>
    </div>
</section>