<section class="contacts">
    <div class="container">
        <div class="contacts__desc">
            <h1>Контакты и бронирование</h1>
            <p>Для Вашего удобства мы предлагаем использовать удобный для Вас сервис бронирования. <br />
                По любым вопросам свяжитесь с нами по телефону, почте или соцсетям.</p>
        </div>
        <div class="contacts__item">
            <div class="contacts__item--left">
                <div class="contacts__item--number">Контактный телефон: <span>+375 33 366 67 67</span></div>
                <div class="contacts__item--email">Почта: <span>minsk.apartments@gmail.com</span></div>
                <div class="contacts__item--messanger">
                    <a href="#"> 
                        <span><img src ="src/static/img/icons/viber.png" class="messanger__viber">
                        </span>
                    </a>
                    <a href="#"> 
                        <span><img src="src/static/img/icons/telegram.png" class="messanger__telem">
                        </span>
                    </a>
                    <a href="#"> 
                        <span><img src="src/static/img/icons/whatsapp.png" class="messanger__wapp">
                        </span>
                    </a>
                </div>
            </div>
            <div class="contacts__item--right">
                <div class="contacts__item--bookingcom"><a href="booking.com"><img
                            src="src/static/img/icons/logo-booking-com-png-booking-logo-png-1020.png"></a></div>
                <div class="contacts__item--airbnb"><a href="airbnb.com"><img
                            src="src/static/img/icons/Airbnb_Logo_Bélo.svg.png"></a></div>
            </div>
        </div>
    </div>
    <div class="contacts__footer">
        <p>СТОКОВЫЕ ФОТОГРАФИИ ОТ</p>
        <span><img src="src/static/img/icons/freepik.png"></span>
    </div>
</section>