<div class="myFirst">
  <div><img src="src/static/img/bg.jpg"></div>
  <div><img src="src/static/img/bg.jpg"></div>
  <div><img src="src/static/img/bg.jpg"></div>
  <div><img src="src/static/img/bg.jpg"></div>
  <div><img src="src/static/img/bg.jpg"></div>
</div>