<section class="feedbacks">
    <div class="container">
        <div class="feedbacks__desc">
            <h1>Отзывы наших гостей</h1>
        </div>
        <div class="feedbacks__item">
            <div>
                <div class="feedbacks__item--pic"></div>
                <p>Name</p>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.</p>
            </div>
            <div>
                <div class="feedbacks__item--pic"></div>
                <p>Name</p>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.</p>
            </div>
            <div>
                <div class="feedbacks__item--pic"></div>
                <p>Name</p>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.</p>
            </div>
        </div>
    </div>
</section>