<section class="feedbacks" id="yak_feedb">
    <div class="container">
        <div class="feedbacks__desc">
            <h1>Отзывы наших гостей</h1>
        </div>
        <div class="feedbacks__item">
            <div>
                <div class="feedbacks__item--Alex"></div>
                <h4>Александр</h4>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.</p>
            </div>
            <div>
                <div class="feedbacks__item--Rosa"></div>
                <h4>Роза</h4>
                <p>Lorem ipsum dolor sit amet, alterum menandri an eum, vix nisl volumus copiosae at. Natum ludus cetero
                    cu cum. Ludus recteque per cu. Eu propriae consectetuer sed. Hinc laudem ne sed, nobis scripta
                    integre vel ea.</p>
            </div>
            <div>
                <div class="feedbacks__item--Vlad"></div>
                <h4>Владислав</h4>
                <p>Lorem ipsum dolor sit amet, alterum menandri an eum, vix nisl volumus copiosae at. Natum ludus cetero
                    cu cum. Ludus recteque per cu. Eu propriae consectetuer sed. Hinc laudem ne sed, nobis scripta
                    integre vel ea.</p>
            </div>
        </div>
    </div>
</section>