<div class="gllery-container">
<div class="zoom-gallery">
	
	<a href="src/static/img/project/121.jpg" data-source="src/static/img/project/121.jpg" title="Pink chair" style="width:193px;height:125px;">
		<img src="src/static/img/project/121.jpg" width="193" height="125">
	</a>
	<a href="src/static/img/project/122.jpg" data-source="src/static/img/project/122.jpg" title="Kitchen" style="width:193px;height:125px;">
		<img src="src/static/img/project/122.jpg" width="193" height="125">
	</a>
    <a href="src/static/img/project/123.jpg" data-source="src/static/img/project/123.jpg" title="Living room" style="width:193px;height:125px;">
		<img src="src/static/img/project/123.jpg" width="193" height="125">
	</a>
    <a href="src/static/img/project/124.jpg" data-source="src/static/img/project/124.jpg" title="Kitchen accessories" style="width:193px;height:125px;">
		<img src="src/static/img/project/124.jpg" width="193" height="125">
	</a>
    <a href="src/static/img/project/125.jpg" data-source="src/static/img/project/125.jpg" title="Commode" style="width:193px;height:125px;">
		<img src="src/static/img/project/125.jpg" width="193" height="125">
	</a>
    <a href="src/static/img/project/126.jpg" data-source="src/static/img/project/126.jpg" title="Coffee table" style="width:193px;height:125px;">
		<img src="src/static/img/project/126.jpg" width="193" height="125">
	</a>
</div>
</div>