<header class ="header">
    <div class="container">
      <nav class="navigation">
  		  <div class="navigation__menu">
  			 <ul class="menu">
  				  <a href="##"><li>О нас</li></a>
  				  <a href="##"><li>Инфраструктура</li></a>
  				  <a href="##"><li>Наши услуги</li></a>
  				  <a href="##"><li>Цены и бонусы</li></a>
  				  <a href="##"><li>Отзывы</li></a>
  				  <a href="##"><li>Бронирование</li></a>
  				  <a href="##"><li>Контакты</li></a>
  			 </ul>
  		  </div>
  		  <div class="telno">
  		    <span>+375333666767</span>
  		  </div>
      </nav>
    </div>
  <section class="mainp">
    <div class="container">
      <div class="mainp__desc"><h1>Добро пожаловать</h1></div>
    </div>
  </section>
</header>