<header class ="header">
    <div class="container">
      <nav class="navigation">
  		  <div class="navigation__menu">
  			 <ul class="menu">
  				  <li><a href="##">О нас</a></li>
  				  <li><a href="##">Инфраструктура</a></li>
  				  <li><a href="##">Наши услуги</a></li>
  				  <li><a href="##">Цены и бонусы</a></li>
  				  <li><a href="##">Отзывы</a></li>
  				  <li><a href="##">Бронирование</a></li>
  				  <li><a href="##">Контакты</a></li>
  			 </ul>
  		  </div>
  		  <div class="telno">
  		    <span>+375333666767</span>
  		  </div>
      </nav>
    </div>
  <section class="mainp">
    <div class="container">
      <div class="mainp__desc"><h1>Добро пожаловать</h1></div>
    </div>
  </section>
</header>