<section class="infrastr" id="yak_infra">
  <div class="container">
    <div class="infrastr__descr">
      <h1>Инфраструктура</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div class="infrastr__items">
      <div class="infrastr__items--pic infrastr__rw"></div>
      <div class="infrastr__items--text">
        <p>Железнодорожный вокзал</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
      <div class="infrastr__items--pic infrastr__dinamo" id="dinamo"></div>
      <div class="infrastr__items--text">
        <p>Стадион Динамо</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
      <div class="infrastr__items--pic infrastr__dinamo"></div>
      <div class="infrastr__items--pic infrastr__sub"></div>
      <div class="infrastr__items--text">
        <p>Метро</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
      <div class="infrastr__items--pic infrastr__cafe" id="cafe"></div>
      <div class="infrastr__items--text">
        <p>Рестораны, кафе, кофейни и пабы</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
      <div class="infrastr__items--pic infrastr__cafe"></div>
    </div>
  </div>
  </div>
</section>