<div id="example">
  <div>Record 1</div>
  <div>Record 2</div>
  <div>Record 3</div>
  <div>Record 4</div>
  <div>Record 5</div>
  <div>Record x</div>
</div>

<table id="news" id="example" class="example">
    <tr>
        <th>TITLE</th>
        <th>BODY</th>
        <th>USER ID</th>
    </tr>
</table>