<section class="price">
    <div class="container">
        <div class="price__desc"></div>
        <div class="price__item">
            <div class="price__item--left"></div>
            <div class="price__item--right"></div>
        </div>
    </div>
</section>