<div class="cont">
<div class="outer-block">
<div class="slider-for">
  <div><img src="src/static/img/about.jpg"></div>
  <div><img src="src/static/img/add.jpg"></div>
  <div><img src="src/static/img/about.jpg"></div>
  <div><img src="src/static/img/add.jpg"></div>
  <div><img src="src/static/img/about.jpg"></div>
  <div><img src="src/static/img/about.jpg"></div>
</div>
<div class="slider-nav">
  <div><img src="src/static/img/about.jpg"></div>
  <div><img src="src/static/img/add.jpg"></div>
  <div><img src="src/static/img/about.jpg"></div>
  <div><img src="src/static/img/add.jpg"></div>
  <div><img src="src/static/img/about.jpg"></div>
  <div><img src="src/static/img/about.jpg"></div>
</div>
</div>
</div>