
<div class="outer-block">
<div class="slider-for">
  <div><img src="src/static/img/project/121.jpg"></div>
  <div><img src="src/static/img/project/122.jpg"></div>
  <div><img src="src/static/img/project/123.jpg"></div>
  <div><img src="src/static/img/project/124.jpg"></div>
  <div><img src="src/static/img/project/125.jpg"></div>
  <div><img src="src/static/img/project/126.jpg"></div>
  <div><img src="src/static/img/project/127.jpg"></div>
</div>
<div class="slider-nav">
  <div><img src="src/static/img/project/121.jpg"></div>
  <div><img src="src/static/img/project/122.jpg"></div>
  <div><img src="src/static/img/project/123.jpg"></div>
  <div><img src="src/static/img/project/124.jpg"></div>
  <div><img src="src/static/img/project/125.jpg"></div>
  <div><img src="src/static/img/project/126.jpg"></div>
  <div><img src="src/static/img/project/127.jpg"></div>
</div>
</div>