<section>
  <div class="container">
    <a class = "button">Text</a>
    <a class = "button button__outline">Text</a>
    <a class = "button button__green">Text</a>
  </div>
</section>

<section class="nav">
  <div class="nav_right" id ="tesTest"> тесте
    <div class="menu"> <a id="nav_link" href = “./test.hml”>Текст</a> </div>
  </div>
  <div class="nav_left">
    <div class="contact"></div>
  </div>
   <div class="nav_right">
    <div class="menu"></div>
  </div>
  <div id="try"></div>
</section>

<section class="second"><div class ='test'></div><p class = 'test'></p>
  <a class = 'test'></a>
  <span class = 'test'></span>
</section>

