<section class="pyth">
  <div class="container">
    <div class="form">
      <form>
        <input type="number" min="1" max="31" name="day">
        <select>
          <option value="jan">Январь</option>
          <option value="feb">Февраль</option>
          <option value="mar">Март</option>
          <option value="apr">Апрель</option>
          <option value="may">Май</option>
          <option value="jn">Июнь</option>
          <option value="jl">Июль</option>
          <option value="aug">Август</option>
          <option value="sept">Сентябрь</option>
          <option value="oct">Октябрь</option>
          <option value="nov">Ноябрь</option>
          <option value="dec">Декабрь</option>
        </select>
        <input type="number" min="1900" max="2019" name="year">
        <input type="submit" value="Отправить">
      </form>
    </div>
  </div>
</section>