<br>
<br>
<br>
<div class="log_form">
  <form action="" method="get" name="test" id="form_test"> 
    <label for="form_email">Enter email</label>
    <input type="text" name="email" placeholder="email" id="formEmail" value="">
    <div id="wrong_email"></div>
    <label for="form_password">Enter password</label>
    <input type="password" name="password" placeholder="password" id="form_password"><br>
    <input type="button" name="submit" value="submit" id="form_submit">
  </form>
</div>
<br>

<div class="imgTest">
  <div class="imgTest1">
    <div class="testBut">
      <img id = "img01" src="../src/static/img/rocket.png">
      <a class="but" href="">Click on me</a>
    </div>
  </div>
  <div class="imgTest2">
    <div class="testBut">
       <img id = "img02" src="../src/static/img/rocket.png">
      <a class="but" href="">Click on me</a>
    </div>
  </div>
  <div class="imgTest3">
    <div class="testBut">
       <img id = "img03" src="../src/static/img/rocket.png">
      <a class="but" href="">Click on me</a>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="thirdTask">
  <div class="areaD" id="placeD">
    <img src="../src/static/img/donut.png" id="donut">
  </div>
</div>