<section class="services">
  <div class="container">
    <div class="services__desc">
      <h1>Наши услуги и преимущества</h1>
      <p>Мы постараемся создать максимально комфортную среду и уют для вас во время отпуска, выходных или командировки.</p>
    </div>
    <div class="services__list">
      <div class="services__list--item">
        <div class="wifi__item"></div>
        <br />
        <h4>WI-FI</h4>
        <p>Во всем доме работает бесплатная сеть.</p>
      </div>
      <div class="services__list--item">
        <div class="pet__item"></div>

        <br />
        <h4>Можно с животными</h4>
        <p>Мы всегда рад Вам и Вашим петомцам. Главное, соблюдайте чистоту и порядок.</p>
      </div>
      <div class="services__list--item">
        <div class="security__item"></div>

        <br />
        <h4>Безопасность</h4>
        <p>Квартира оснащена системой умный дом, блабла.</p>
      </div>
      <div class="services__list--item">
        <div class="caffe__item"></div>

        <br />
        <h4>Лучшие рестораны и кафе</h4>
        <p>В квартале сосредоточены лучшие рестораны и кафе города.</p>
      </div>
      <div class="services__list--item">
        <div class="location__item"></div>

        <br />
        <h4>Центр города</h4>
        <p>Мы расположены в самом центре Минска.</p>
      </div>
      <div class="services__list--item">
        <div class="facilities__item"></div>

        <br />
        <h4>Все необходимые удобства</h4>
        <p>В квартире есть стиральная машина, гладильная доска и утюг, фен и прочие удобства. </p>
      </div>
    </div>
  </div>
</section>