<section class="services">
  <div class="container">
  <div class="services__descr">
    <h2>Наши услуги</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="services__info">
    <div class="services__info--left">
      <div>
        <div><span><i><img src="../img/wifi-signal-icon.svg"></i></span></div>
        <div>wi-fi</div>
      </div>
      <div>
        <div><span><i><img src="../img/cat-whiskers.svg"></i></span></div>
        <div>pet-friendly</div>
      </div>
      <div>
        <div><span><i><img src="../img/dish.svg"></i></span></div>
        <div>restaurant</div>
      </div>
    </div>
    <div class="services__info--right">
     <div>
        <div><span><i><img src="../img/lock-outlined-padlock-symbol-for-security-interface.svg"></i></span></div>
        <div>security</div>
      </div>
      <div>
        <div><span><i><img src="../img/placeholder.svg"></i></span></div>
        <div>center</div>
      </div>
      <div>
        <div><span><i><img src="../img/washing-machine.svg"></i></span></div>
        <div>laundry</div>
      </div>
    </div>
    </div>
  </div>
  </div>
</section>